@model MyPass.Entities.Category

@if (Model.ItemList != null && Model.ItemList.Count > 0)
{
    <div id="accordion">
        @foreach (var item in Model.ItemList)
        {
            <div class="card">
                <div class="card-header d-flex p-0" id="@("heading" + item.Id)">
                    <div class="pt-2 pb-2 pr-3 pl-3 d-flex flex-grow-1 align-items-center" data-toggle="collapse" data-target="@("#collapse" + item.Id)" aria-expanded="true" aria-controls="@("collapse" + item.Id)">
                        <div>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <div class="flex-grow-1">
                            <button class="btn btn-link">@item.Title</button>
                        </div>
                    </div>

                    <div class="pt-2 pb-2 pr-3 pl-3">
                        @Html.ActionLink("Düzenle", "Edit", "Item", new { id = item.Id }, new { @class = "btn btn-info" })
                    </div>
                </div>

                <div id="@("collapse" + item.Id)" class="collapse" aria-labelledby="@("heading" + item.Id)" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group list-group-horizontal-md-lg-xl">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>Açıklama: </b>
                                    </div>
                                    <div class="col-md-10">
                                        @item.Nodes
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>Şifre: </b>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input id="hash-pass-@item.Id" type="password" value="aaaaaaaaaaaaaaaaaaaaaa" class="form-control-sm" disabled />
                                                <input id="pass-@item.Id" type="text" value="@item.Password" class="d-none form-control-sm" disabled />
                                                <button class="btn btn-primary btn-sm fa fa-eye" onclick="showPass(@item.Id);" id="show-button-@item.Id" style="vertical-align: bottom"></button>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="float-right ml-1">
                                                    @Ajax.ActionLink("Kopyala", "CopyPassword", "Item", new { id = item.Id }, new AjaxOptions
                                                    {
                                                        HttpMethod = "POST",
                                                        OnSuccess = "copyPassword",
                                                    }, new { @class = "btn btn-outline-success btn-sm" })
                                                </span>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>Eklenme Tarihi: </b>
                                    </div>
                                    <div class="col-md-10">
                                        @item.ModifiedOn

                                    </div>
                                </div>
                            </li>
                            @if (item.ModifiedOn != null)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>Düzenleme Tarihi: </b>
                                        </div>
                                        <div class="col-md-10">
                                            @item.ModifiedOn
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
}