@model MyPass.Entities.Item

@{
    ViewBag.Title = "Madde Ekle";
}

<div class="">
    <div class="card shadow">
        <h5 class="card-header">@ViewBag.Title</h5>
        <div class="card-body">
            @using (Ajax.BeginForm("Create", "Item", new AjaxOptions
            {

                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "item-list",
                OnSuccess = "successAjax",

            }, new { autocomplete = "off", id = "create-item-form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.CategoryId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Username)
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Url)
                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", autocomplete = "new-password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nodes)
                    @Html.TextAreaFor(model => model.Nodes, 8, 0, new { @class = "form-control", style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.Nodes, "", new { @class = "text-danger" })
                </div>

                <div class="form-group float-right pl-2">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                </div>

                <div class="form-group float-right">
                    <input type="button" value="İptal" class="btn btn-danger" onclick="return $('#item').html('');" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
