@model MyPass.Entities.User
@{
    ViewBag.Title = "Hesap Oluştur";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MyPass - @ViewBag.Title</title>
    <link href="~/Content/template.min.css" rel="stylesheet" />

</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">@ViewBag.Title</h1>
                            </div>
                            @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "user" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group text-danger">
                                    @Html.ValidationSummary(false)
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-user", placeholder = "Ad" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control form-control-user", placeholder = "Soyad" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "E-posta" } })

                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Şifre" } })
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Hesap Oluştur
                                </button>
                                <hr>
                                <!---->
                                <a href="#" class="btn btn-google btn-user btn-block">
                                    <i class="fa fa-google fa-fw"></i> Google ile Kayıt Ol
                                </a>
                                <a href="#" class="btn btn-facebook btn-user btn-block">
                                    <i class="fa fa-facebook-f fa-fw"></i> Facebook ile Kayıt Ol
                                </a>
                            }

                            <hr>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("ForgotPassword","User")">Şifremi Unuttum!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Login","User")">Zaten hesabınız var mı? Giriş yap!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
</body>
</html>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>